version: '3'

services:

  redmine:
    image: redmine
    restart: always
    ports:
      - 30081:3000
    environment:
      REDMINE_DB_POSTGRES: redmine-db
      REDMINE_DB_USERNAME: redmine
      REDMINE_DB_PASSWORD: secret
    container_name:
      redmine

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: redmine
      POSTGRES_PASSWORD: secret
    container_name:
      redmine-db
